<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar collapse in" style="">
		<form role="search">
			
		</form>
		<ul class="nav menu">
			<li class="active"><a href="#nms1"><svg class="glyph stroked table"><use xlink:href="#stroked-calendar"></use></svg>Dashboard</a></li>
			<li><a href="#!nms1"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>NMS</a></li>
		    <li><a href="#!snmp22"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>SNMP </a></li>
			<li><a href="#!snmp23"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>SNMP2</a></li>
			
			<li role="presentation" class="divider"></li>
		
		</ul>
		
	</div><!--/.sidebar-->
		
	