<script>
$(document).ready(function(){
       $("div#sidebar-collapse").hide();  
	});
</script> 

<div class="container">
		<div class="row">
			<div class="content">
				<div class="col-md-4" id="panel1">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
						<div class="align-center">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#monitoring">	<h4>Network Topology</h4></button>	
							<div>
								<i><a href="#!nms1"><img src="img/NetworkTopology.png" height="170px" width="250px" data-toggle="modal"></img></a></i>
							</div>							
						</div>
					</div>
				</div>
				
    
        
        
				<div class="col-md-4" id="panel2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="align-center">
						 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#monitoring">	<h4>Network Monitoring</h4></button>					
							<div>
								<i></i>
                <i><a href="#!nms1"><img src="img/monitoring.png" height="170px" width="250px" data-toggle="modal" data-target="#monitoring"></a></i>

							</div>
							
							
						</div>
					</div>
				</div>
        
          
        
				<div class="col-md-4" id="panel3">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
						<div class="align-center">
						 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#configuration"><h4>Network Configuration</h4></button>			
							<div>
                <i><a href="#!nms1"><img src="img/configuration.png" height="170px" width="250px" data-toggle="modal" data-target="#configuration"></a></i>
							</div>
						</div>
					</div>
				</div>
   <!-- Configuration Modal ----------------------------------------------------- -->
        
  <div class="modal fade" id="configuration" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="popup-heading">Network Details</h4>
        </div>
        
			</div>
		</div>
	</div>